.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 20px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(110%);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-marker {
  color: #61dafb;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  user-select: none;
  transform: translate(-50%; -50%);
}

.App-map {
  height: 95vh;
  width: 100%;
}

.App-infowindow {
  /*height: 150px;*/
  width: 150px;
  color: #000;
  padding: 0;
}

.pieWedge, .pieSector {
  /*transition: all 0.6s ease;*/
  animation: fadeIn 3s ease;
} 

.rowItem {
  /*animation: shake 1.3s ease-out*/
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes StatList-rowItem-shuffle {
  from {  
    /*opacity: 0;*/
    /*background-color: rgba(255,255,255,1);*/
  } to {
    /*opacity: 100%;*/
    /*background-color: rgba(150,0,0,.5);*/
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    top: 100px;
  }
  75% {
    opacity: 0.5;
    top: 0px;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}