.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 20px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(110%);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-marker {
  color: #61dafb;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  user-select: none;
  transform: translate(-50%; -50%);
}

.App-map {
  height: 95vh;
  width: 100%;
}

.App-infowindow {
  display: absolute;
  top: 0;
  left: 0;
  height: 150px;
  width: 150px;
  color: rgba(255,0,0,1);
  padding: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

